
<div class="row">
	<div class="">
      <h1><%= @blog.title %></h1>
    </div>

<div class="span8 offset2">
  <h3><%= @blog.content.html_safe %></h3>
  <% if can? :update, @blog %>
  <%= link_to 'Edit', edit_blog_path(@blog),:class => 'btn btn-large btn-default' %> 
<%= link_to 'Back', blogs_path,:class => 'btn btn-large btn-default' %>
<% end %>
 </div> 
</div>
<br />
<br />
<br />
<br />
