  <footer>
      <div class="container">
        <div class="row">
          <div class="span5 offset3 text-center">
            
             
            
            <hr>
            <p>2013 Hecho con cariño por Marcelo </p>
          </div>
        </div>
      </div>
    </footer>